.table {
  border-collapse: collapse;
  margin: 20px 0 20px 0;
}

.table td {
  padding: 10px;
}

.table th {
  padding: 10px;
  background-color: var(--dark);
  color: var(--pacific-cyan);
}

.table th:first-child {
  border-radius: var(--border-radius) 0 0 0;
}

.table th:last-child {
  border-radius: 0 var(--border-radius) 0 0;
}

.table td {
  background-color: var(--space-gray);
  backdrop-filter: blur(10px);
  cursor: pointer;
}

.table tbody tr:last-child td:first-child {
  border-radius: 0 0 0 var(--border-radius);
}

.table tbody tr:last-child td:last-child {
  border-radius: 0 0 var(--border-radius) 0;
}

/* Effects */

.table tbody tr:hover {
  background-color: var(--midnight-green-hover);
}