.main {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column-reverse;
  height: 100vh;
}

/* Efectos */

/* Animaciones */

/* Media Queries */

@media screen and (min-width: 900px) {
  .main {
    flex-direction: row;
  }
}