.userProfileContainer {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.userProfileContainer main {
  display: flex;
  flex-direction: column;
}

.userProfileContainer aside {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
}

/* Media Queries */

@media screen and (min-width: 900px) {
  .userProfileContainer {
    flex-direction: row;
  }
}