.container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
  /* align-items: center; */
  max-width: 750px;
}

.organizationCard {
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container hr {
  margin: 5px 0;
  border: none;
  border-top: 1px solid var(--moonstone);
  margin-bottom: 20px;
  width: 100%;
}

.noEditingImageLabel img {
  position: relative;
  border-radius: 50%;
  margin: 10px 20px;
  width: 25vw;
  height: 25vw;
  max-width: 200px;
  max-height: 200px;
  min-width: 80px;
  min-height: 80px;
}

.imageLabel img {
  position: relative;
  border-radius: 50%;
  margin: 10px 20px;
  width: 25vw;
  height: 25vw;
  max-width: 200px;
  max-height: 200px;
  min-width: 80px;
  min-height: 80px;
}

.imageLabel::before {
  content: '';
  position: absolute;
  background-image: url('/cloud-plus.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--pacific-cyan);
  margin: 10px 20px;
  width: 25vw;
  height: 25vw;
  max-width: 200px;
  max-height: 200px;
  min-width: 80px;
  min-height: 80px;
  top: auto;
  left: auto;
  opacity: 0.7;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
}

.container form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 250px;
  margin: 10px;
}

.container form label {
  margin: 5px 0 0 0;
  color: var(--pacific-cyan);
}

.container form input {
  margin: 5px 0;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--moonstone);
}

.fileInput {
  display: none;
}